@model Notepad.Models.Entity.TBLPERSONAL
@{
    ViewBag.Title = "AddPersonal";
    Layout = "~/Views/Shared/Layout.cshtml";
}
    <div class="col-md-3">
        <form class="form-group" action="/Personal/AddPersonal" method="post">

            <div>
                <label>Имя</label>
                <input type="text" class="form-control" name="Name" maxlength="20" placeholder="" />
                @Html.ValidationMessageFor(x => x.Name, "", new { @style = "font-weight:italic; color:red" })


                <label style="display:block !important;">Фамилия</label>
                <input type="text" class="form-control" maxlength="20" name="Surname" />
                @Html.ValidationMessageFor(x => x.Surname, "", new { @style = "font-weight:italic; color:red" })


            </div>
            <div style="margin-top:15px">
                <button class="btn btn-info" id="Btn1">Добавить</button>
            </div>
        </form>
    </div>
