@using Notepad.Models.Entity
@model List<TBLPERSONAL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>Персональный и. номер </th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Удалить</th>
            <th>Редактировать</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Surname</td>
            <td>@Html.ActionLink("Sil", "DeletePersonal", new { id = p.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Вы хотите удалить это?')" })</td>

            <td><a href="/Personal/GetPersonal/@p.Id" class="btn btn-success">Редактировать</a></td>
        </tr>
        }


    </tbody>
</table>
<a href="/Personal/AddPersonal" class="btn btn-primary"> Добавить</a>
